@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --height-header: 56px;
  }

  html,
  body {
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transform: unset !important; /* body의 transform 속성 초기화 */
  }
}

#root-content {
  position: relative;
  flex-grow: 1; /* This will make root-content take all available space, pushing footer down */
  display: flex; /* Keep it as flex to manage its children */
  flex-direction: column;
}

@layer components {
  .card-hover-effect {
    @apply transition-all duration-200 ease-in-out;
  }
  .card-hover-effect:hover {
    @apply -translate-y-1 shadow-lg;
  }

  .list-item-hover-effect {
    @apply transition-all duration-150 ease-in-out;
  }
  .list-item-hover-effect:hover {
    @apply -translate-y-0.5;
  }

  .svg-text-shadow {
    text-shadow: 0px 0px 4px white;
  }

  .svg-district-path {
    stroke: #ffffff;
    stroke-width: 2px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
  }

  .svg-district-path-hover {
    transform: scale(1.1);
  }

  .scroll-hidden-bar::-webkit-scrollbar {
    display: none;
  }

  .scroll-hidden-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
