@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --height-header: 56px;
  }

  body {
    transform: unset !important; /* body의 transform 속성 초기화 */
  }
}

#root-content {
  position: relative;
  height: 100vh; /* 뷰포트 전체 높이 */
  display: flex;
  flex-direction: column;
}

@layer components {
  .card-hover-effect {
    @apply transition-all duration-200 ease-in-out;
  }
  .card-hover-effect:hover {
    @apply -translate-y-1 shadow-lg;
  }

  .list-item-hover-effect {
    @apply transition-all duration-150 ease-in-out;
  }
  .list-item-hover-effect:hover {
    @apply -translate-y-0.5;
  }
}
